name: ROBLOX 2016 dev workflow

on:
  push:
    paths:
      - stylustheme.css
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: main

    - name: Add header to stylustheme.css
      run: |
        CUR_DATE=$(date +%m-%d)
        CURV_DATE=$(date +%m.%d)
        UNIX_TIME=$(date +%s)
        echo "/* ==UserStyle==
        @name           ROBLOX 2016 dev$CUR_DATE
        @namespace      Userstyle
        @author         anthony1x6000
        @description    Userstyle that changes the look of ROBLOX to be more faithful to what it would look like in 2016.
        @version        $CURV_DATE.$UNIX_TIME
        @license        MIT License
        ==/UserStyle== */" > header.txt
        cat header.txt stylustheme.css > roblox2016-pre$CUR_DATE.user.css
    - name: Set user identity
      run: |
        git config --global user.email "contact.b7hkd@simplelogin.fr"
        git config --global user.name "anthony1x6000"
    - name: Commit changes to main branch
      run: |
        UNIX_TIME=$(date +%s)
        CUR_DATE=$(date +%m-%d)
        # git checkout -b main
        cp roblox2016-pre$CUR_DATE.user.css roblox2016-preLatest.user.css
        mv roblox2016-pre$CUR_DATE.user.css roblox2016-preLatest.user.css devDownloads/
        git add devDownloads
        git commit -m "$CUR_DATE-$UNIX_TIME dev"
    - name: Pull and Rebase origin/dev
      run: |
        git pull origin main --rebase
    - name: Push to GitHub
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        force: true
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: roblox2016-$CUR_DATE.user.css
        path: devDownloads/roblox2016-$CUR_DATE.user.css
